<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.turbo.bot.base.module.user.UserDao">

    <!-- 根据微信id查询用户 -->
    <select id="selectByWxId" resultType="cn.turbo.bot.base.module.user.domain.UserEntity">
        SELECT * FROM t_user WHERE wx_id = #{wxId}
    </select>

    <!-- 根据 资讯推送配置 查询用户 -->
    <select id="queryByConfigNewsPush" resultType="cn.turbo.bot.base.module.user.domain.UserEntity">
        SELECT * FROM t_user
        WHERE
            config::jsonb @> '{"newsPush": {"enabledFlag": ${enabledFlag}}}'::jsonb
            AND config::jsonb -> 'newsPush' -> 'pushTimeList' @> '[{"time": "${time}"}]'::jsonb;
    </select>

</mapper>